<a href="https://colab.research.google.com/github/davidwreynolds13/lessons-learned-trend-analysis/blob/main/eda_lessons_learned.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

np.random.seed(42)

n = 300

data = {
    "date": pd.date_range(start="2022-01-01", periods=n, freq="D"),
    "category": np.random.choice(
        ["Training", "Equipment", "Personnel", "Logistics", "Communications"], n
    ),
    "severity": np.random.randint(1, 6, n),
    "unit_type": np.random.choice(
        ["Company", "Battalion", "Brigade"], n
    ),
    "status": np.random.choice(
        ["Open", "Closed"], n, p=[0.3, 0.7]
    )
}

df = pd.DataFrame(data)
df.head()

        date        category  severity unit_type  status
0 2022-01-01       Logistics         5   Brigade  Closed
1 2022-01-02  Communications         5   Company  Closed
2 2022-01-03       Personnel         1   Brigade  Closed
3 2022-01-04  Communications         5   Brigade    Open
4 2022-01-05  Communications         3   Company  Closed

In [5]:
df.to_csv("lessons_learned_sample.csv", index=False)